@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    cursor: none !important;
}

/* Additional global styles */
body {
    overflow-x: hidden;
    background: #0d0d0d;
    color: #f0f0f0;
    font-family: sans-serif;

}
/* Example of a scroll-timeline-driven animation */
@container query(supports: scroll-timeline) {
    /* Insert experimental scroll-timeline CSS if needed */
}

.clouds-sprite-U {
    position: absolute;
    top: 79.25%;
    left: 0;
    width: 200%; /* Twice the width to accommodate the wrap */
    height: 11%;
    background-image: url('/cloudsSprite-U.png'); /* Path to your horizontal sprite sheet */
    background-size: auto 10%; /* Fit height, maintain aspect ratio */
    background-repeat: repeat-x; /* Repeat the image horizontally */
    animation: scrollClouds 1570s linear infinite; /* Smooth infinite animation */
}
.clouds-sprite-M {
    position: absolute;
    top: 80%;
    left: 0;
    width: 200%; /* Twice the width to accommodate the wrap */
    height: 20%;
    background-image: url('/cloudsSprite-M.png'); /* Path to your horizontal sprite sheet */
    background-size: auto 10%; /* Fit height, maintain aspect ratio */
    background-repeat: repeat-x; /* Repeat the image horizontally */
    animation: scrollClouds 1370s linear infinite; /* Smooth infinite animation */
}
.clouds-sprite-L {
    position: absolute;
    top: 81.75%;
    left: 0;
    width: 200%; /* Twice the width to accommodate the wrap */
    height: 8%;
    background-image: url('/cloudsSprite-L.png'); /* Path to your horizontal sprite sheet */
    background-size: auto 10%; /* Fit height, maintain aspect ratio */
    background-repeat: repeat-x; /* Repeat the image horizontally */
    animation: scrollClouds 820s linear infinite; /* Smooth infinite animation */
}


@keyframes scrollClouds {
    from {
        background-position-x: 0; /* Start position */
    }
    to {
        background-position-x: -100%; /* Move by the full width of the sprite */
    }
}